//Main colors
$dark-color: #403f3d;
$dark-color-secondary: #665f55;
$light-color: #e1d4c9;
$light-color-secondary: #c1b6ad;
$accent-color: #b0907a;
//Text colors
$text-light-color: $light-color;
$text-dark-color: $dark-color;
//Element colors
$backdrop-color: rgba($dark-color, 0.8);
$border-color: $light-color-secondary;
$container-color: $dark-color-secondary;
//Content width
$content-max-width: 1440px;
$content-gap-xl: 40px;
$content-gap-xs: 16px;
$content-width-xl: $content-max-width - $content-gap-xl * 2;
$content-width-xs: $content-max-width - $content-gap-xs * 2;

$main-p-xl: 100px;
$main-p-md: 60px;
$main-p-xs: 16px;

$breakpoint-xl: 1440px;
$breakpoint-lg: 1044px;
$breakpoint-md: 768px;
$breakpoint-sm: 720px;
$breakpoint-xs: 600px;
$breakpoint-xxs: 379px;
