@import './variables.scss';

#enjoy {
  .enjoy__content {
    position: relative;
    overflow: hidden;
    border-radius: 40px;
    height: 644px;

    video {
      width: 100%;
      height: 644px;
      object-fit: cover;
      border-radius: 40px;
    }

    .enjoy__content_offer-wrapper {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      color: $text-light-color;
      background: rgba(0, 0, 0, 0.3);

      .enjoy__content_offer {
        padding: 100px;
        width: 530px;

        .button-primary {
          width: 200px;
          height: 64px;
          border-radius: 100px;
          background: $light-color;
          color: $text-dark-color;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          span {
            transition: all 0.35s ease-out;
          }

          svg {
            stroke: $dark-color;
            margin-bottom: 4px;
            position: absolute;
            top: calc(50% - 10px);
            right: 60px;
          }
        }
      }
    }
  }
}

@media (hover: hover) {
  .button-primary {
    svg {
      opacity: 0;
    }
    span {
      margin-right: 0;
    }

    &:hover {
      svg {
        opacity: 1;
      }

      span {
        margin-right: 24px;
      }
    }
  }
}

@media (hover: none) {
  .button-primary {
    svg {
      opacity: 1;
    }
    span {
      margin-right: 24px;
    }
  }
}

@media only screen and (max-width: 1044px) {
  #enjoy .enjoy__content .enjoy__content_offer-wrapper .enjoy__content_offer {
    padding: 100px 60px 100px 60px;
  }
}

@media only screen and (max-width: 720px) {
  #enjoy {
    .enjoy__content {
      height: 552px;

      .enjoy__content_offer-wrapper .enjoy__content_offer {
        padding: 60px 16px 60px 16px;
        max-width: 316px;
      }
    }
  }
}

@media only screen and (max-width: 379px) {
  #enjoy {
    .enjoy__content {
      .enjoy__content_offer-wrapper .enjoy__content_offer {
        max-width: 250px;
      }
    }
  }
}
