@import './variables.scss';

#footer {
  background: $container-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  gap: 100px;

  .footer__offer,
  .footer__contacts {
    flex: 1 1 calc((100% / 2) - 200px);
    margin: 100px 0;
  }

  .footer__offer {
    margin-left: 100px;
    #socials {
      display: flex;
      gap: 12px;
    }

    .social__btn {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 1px solid $border-color;
      background: inherit;
      position: relative;
      transition: all 0.5s ease-out;
      cursor: pointer;
      color: $border-color;

      svg {
        position: absolute;
        top: calc(50% - 12px);
        left: calc(50% - 12px);
        stroke: $light-color;
        margin: auto;
      }

      &:hover {
        border: 1px solid $light-color;
        background: $light-color;

        svg {
          stroke: $dark-color;
          margin: auto;
        }
      }
    }
  }

  .footer__contacts {
    margin-right: 100px;
    color: $light-color;
    display: flex;
    flex-direction: column;
    gap: 16px;

    a {
      color: $light-color;
    }
  }
}
