@import './variables.scss';

#footer {
  background: $container-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  gap: $main-p-xl;
  margin-bottom: $content-gap-xl;

  .footer__offer,
  .footer__contacts {
    flex: 1 1 calc((100% / 2) - ($main-p-xl * 2));
    margin: $main-p-xl 0;
  }

  .footer__offer {
    margin-left: $main-p-xl;

    h2 {
      display: flex;
      flex-direction: column;
    }
    #socials {
      display: flex;
      gap: 12px;
    }

    .social__btn {
      width: 60px;
      height: 60px;
      border-radius: 50%;

      position: relative;
      transition: all 0.5s ease-out;
      cursor: pointer;
      margin-top: $content-gap-xl;

      svg {
        position: absolute;
        top: calc(50% - 12px);
        left: calc(50% - 12px);

        margin: auto;
      }
    }
  }

  .footer__contacts {
    margin-right: $main-p-xl;
    color: $text-light-color;
    display: flex;
    flex-direction: column;
    gap: 16px;

    h3 {
      margin-bottom: 20px;
    }

    a {
      color: $text-light-color;
    }

    .link {
      display: inline-flex;
    }
  }
}

@media (hover: hover) {
  .social__btn {
    border: 1px solid $border-color;
    background: inherit;

    svg {
      stroke: $light-color;
    }

    &:hover {
      border: 1px solid $light-color;
      background: $light-color;

      svg {
        stroke: $dark-color;
      }
    }
  }
}

@media (hover: none) {
  .social__btn {
    border: 1px solid $border-color;
    background: inherit;

    svg {
      stroke: $light-color;
    }

    &:active {
      border: 1px solid $light-color;
      background: $light-color;

      svg {
        stroke: $dark-color;
      }
    }
  }
}

@media only screen and (max-width: 1044px) {
  #footer {
    flex-wrap: wrap;

    .footer__offer,
    .footer__contacts {
      flex: 1 1 100%;
    }

    .footer__offer {
      margin: $main-p-xl $main-p-md 0 $main-p-md;

      h2 {
        display: block;
      }
    }
    .footer__contacts {
      margin: 0 $main-p-md $main-p-xl $main-p-md;
    }
  }
}

@media only screen and (max-width: 720px) {
  #footer {
    gap: $content-gap-xl;

    .footer__offer {
      margin: $main-p-md $main-p-xs 0 $main-p-xs;
    }
    .footer__contacts {
      margin: 0 $main-p-xs $main-p-md $main-p-xs;
    }
  }
}
