@import './variables.scss';

#menu {
  margin-bottom: 100px;

  h2 {
    width: 800px;
    text-align: center;
  }
  .menu__tabs {
    display: flex;
    gap: 16px;
    text-align: center;
    justify-content: center;

    button {
      padding: 8px 16px 8px 8px;
      border-radius: 100px;
      display: flex;
      align-items: center;
      gap: 8px;
      background: inherit;
      border: 1px solid $light-color-secondary;
      transition: all 0.4s ease-in;
      cursor: pointer;
      height: 46px;

      .button_img-container {
        display: flex;
        width: 30px;
        height: 30px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: $light-color-secondary;
      }

      &:hover,
      &.active {
        background: $dark-color-secondary;
        border: 1px solid $dark-color-secondary;
        color: $text-light-color;

        .button_img-container {
          background: $light-color;
        }
      }

      &.active {
        cursor: auto;
      }
    }
  }

  .menu__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;

    .card {
      border-radius: 40px;
      border: 1px solid $border-color;
      height: 506px;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      box-sizing: border-box;

      .card__img {
        height: 310px;
        width: 100%;
        border-radius: 40px;
        overflow: hidden;
        position: relative;

        img {
          transition: all 0.5s ease-in;
          height: 110%;
          width: 110%;
          object-fit: cover;
          position: absolute;
          top: -5%;
          left: -5%;
        }
      }

      .card__info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px;
        height: 156px;
      }

      &:hover {
        img {
          height: 100%;
          width: 100%;
          top: 0%;
          left: 0%;
        }
      }
    }
  }

  #more-cards {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: inherit;
    border: 1px solid $dark-color-secondary;
    cursor: pointer;
    margin-top: 40px;
    margin-left: calc(50% - 30px);
    display: none;
    position: relative;
    transition: all 0.5s ease-out;

    svg {
      position: absolute;
      top: calc(50% - 12px);
      left: calc(50% - 12px);
      stroke: $dark-color-secondary;
      margin: auto;
    }
  }
}

@media only screen and (max-width: 1044px) {
  #menu {
    h2 {
      width: 100%;
    }

    .menu__items {
      grid-template-columns: 1fr 1fr;
      margin: 0 9px;

      .card {
        &:nth-child(n + 5) {
          display: none;
        }
      }
    }

    #more-cards {
      display: block;
    }
  }
}

@media only screen and (max-width: 600px) {
  #menu {
    .menu__tabs {
      gap: 8px;
    }

    .menu__items {
      grid-template-columns: 1fr;
      margin: 0 18px;
    }
  }
}

@media only screen and (max-width: 379px) {
  #menu {
    .menu__tabs {
      gap: 16px;

      button {
        padding: 8px;

        .button_text {
          display: none;
        }
      }
    }
  }
}
