@import '../variables.module.scss';

#header {
  height: 60px;
  position: sticky;
  top: 0;
  background: $light-color;
  background: rgba($light-color, 0.8);
  backdrop-filter: blur(10px);
  z-index: 10;

  .header__bar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    #logo img {
      width: 100px;
      height: 60px;
    }

    .nav__list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
    }

    #nav-menu svg {
      stroke: $text-dark-color;
      margin-bottom: 4px;
      margin-left: 8px;
    }

    .nav-item {
      display: flex;
      align-items: center;
      position: relative;
      color: $text-dark-color;

      &:after {
        content: '';
        position: absolute;
        bottom: -4px;
        height: 2px;

        background: $text-dark-color;
        transition: all 0.5s ease-out;
      }

      &:target::after {
        width: 100%;
        left: 0;
      }
    }

    .nav-item.active {
      &:after {
        content: '';
        position: absolute;
        bottom: -4px;
        height: 2px;
        width: 100%;
        left: 0;
        background: $text-dark-color;
        transition: all 0.5s ease-out;
      }
    }

    #burger-btn {
      width: 44px;
      height: 44px;
      background: inherit;
      border-radius: 50%;
      border: 1px solid $dark-color-secondary;
      cursor: pointer;
      position: relative;
      display: none;

      &:before {
        content: '';
        position: absolute;
        bottom: calc(50% - 4px);
        height: 3.55%;
        width: 16px;
        left: calc(50% - 8px);
        background: $dark-color;
        transition: all 0.5s ease-out;
      }

      &:after {
        content: '';
        position: absolute;
        top: calc(50% - 4px);
        height: 3.55%;
        width: 16px;
        left: calc(50% - 8px);
        background: $dark-color;
        transition: all 0.5s ease-out;
      }
    }
  }
}

@media (hover: hover) {
  .nav-item {
    &:after {
      left: 50%;
      width: 0;
    }

    &:hover::after {
      width: 100%;
      left: 0;
    }
  }
}
@media (hover: none) {
  .nav-item {
    &:after {
      left: 50%;
      width: 0;
    }
  }
}

@media only screen and (max-width: $breakpoint-md) {
  #header {
    .bar__nav,
    #nav-menu {
      display: none;
    }

    .header__bar #burger-btn {
      display: block;
    }
  }
}

#header.show-always {
  position: absolute;
}

.pseudo {
  min-height: 80px;
  max-width: 1360px;
  width: 100%;
  display: none;

  &.show {
    display: block;
  }
}
.pseudo-before {
  min-height: 20px;
  max-width: 1360px;
  width: 100%;
  display: none;

  &.show {
    display: block;
  }
}
