@import '../variables.module.scss';

#about {
  .about__images {
    display: flex;
    gap: 40px;

    .about__images_column {
      display: flex;
      flex-direction: column;
      gap: 40px;
      flex: 1 1 calc((100% / 2) - 40px);
    }

    .card {
      min-height: 430px;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      overflow: hidden;
      position: relative;

      img {
        transition: all 0.5s ease-in;
        object-fit: cover;
        position: absolute;
      }
    }

    .large {
      min-height: 590px;
    }
  }
}

@media (hover: hover) {
  .card {
    img {
      height: 110%;
      width: 110%;
      top: -5%;
      left: -5%;

      &:hover {
        height: 100%;
        width: 100%;
        top: 0%;
        left: 0%;
      }
    }
  }

  .large {
    img {
      height: 110%;

      &:hover {
        height: 100%;
      }
    }
  }
}
@media (hover: none) {
  .card {
    img {
      height: 110%;
      width: 110%;
      top: -5%;
      left: -5%;
    }
  }

  .large {
    img {
      height: 110%;
    }
  }
}

@media only screen and (max-width: $breakpoint-md) {
  #about {
    .about__images {
      flex-wrap: wrap;
      .about__images_column {
        flex: 1 1 100%;

        .card {
          display: none;
        }

        .card.large {
          display: block;
        }
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-xs) {
  #about {
    .about__images {
      .about__images_column {
        .card.large {
          img {
            height: 120%;
            width: 120%;
            top: -10%;
            left: -10%;
          }
        }
      }
    }
  }
}
