@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.heading-1{
    font-size: 72px;
    font-weight: 600;
    line-height:  105%
}

.heading-2{
    font-size: 60px;
    font-weight: 600;
    line-height:  125%
}

.heading-3{
    font-size: 24px;
    font-weight: 600;
    line-height:  125%
}

.accent{
    font-style: italic
}

.medium{
    font-size: 14px;
    font-weight: 400;
    line-height:  150%
}

.caption{
    font-size: 10px;
    font-weight: 600;
    line-height:  140%
}

link, button{
    font-size: 16px;
    font-weight: 600;
    line-height:  150%
}

.burger-link{
    font-size: 32px;
    font-weight: 600;
    line-height:  125%
}

.text-dark{
    color: #403F3D
}

.text-light{
    color: #E1D4C9
}

.text-accent{
    color: #B0907A
}

/* .background-body {
    background-color: #E1D4C9
} */

.background-container{
    background-color: #665F55
}

.background-backdrop{
    background-color: rgba(64, 63, 61, 0.8)
}

.text-light{
    border-color: #C1B6AD
}

.text-dark{
    color: #665F55
}
html,
body {
    font-family: 'Inter', sans-serif;
    
}
body{
    box-sizing: border-box;
    background-color: #E1D4C9
}
a.link,
a {
  text-decoration: none;
}

