@for $i from 0 to 21 {
  $gap: $i * 4;

  .ma-#{$i} {
    margin-right: #{$gap}px;
    margin-left: #{$gap}px;
    margin-top: #{$gap}px;
    margin-bottom: #{$gap}px;
  }

  .mx-#{$i} {
    margin-right: #{$gap}px;
    margin-left: #{$gap}px;
  }

  .my-#{$i} {
    margin-top: #{$gap}px;
    margin-bottom: #{$gap}px;
  }

  .mr-#{$i} {
    margin-right: #{$gap}px;
  }

  .ml-#{$i} {
    margin-left: #{$gap}px;
  }

  .mt-#{$i} {
    margin-top: #{$gap}px;
  }

  .mb-#{$i} {
    margin-bottom: #{$gap}px;
  }

  .pa-#{$i} {
    padding-right: #{$gap}px;
    padding-left: #{$gap}px;
    padding-top: #{$gap}px;
    padding-bottom: #{$gap}px;
  }

  .px-#{$i} {
    padding-right: #{$gap}px;
    padding-left: #{$gap}px;
  }

  .py-#{$i} {
    padding-top: #{$gap}px;
    padding-bottom: #{$gap}px;
  }

  .pr-#{$i} {
    padding-right: #{$gap}px;
  }

  .pl-#{$i} {
    padding-left: #{$gap}px;
  }

  .pt-#{$i} {
    padding-top: #{$gap}px;
  }

  .pb-#{$i} {
    padding-bottom: #{$gap}px;
  }
}