$dark-color: #403f3d;
$light-color: #e1d4c9;
$accent-color: #b0907a;
$container-color: #665f55;
$text-light-color: #c1b6ad;
$text-dark-color: $dark-color;
$backdrop-color: rgba(64, 63, 61, 0.8);
$content-max-width: 1440px;
$content-gap-xl: 40px;
$content-gap-md: 30px;
$content-gap-xs: 16px;
$content-width-xl: $content-max-width - $content-gap-xl * 2;
$content-width-md: $content-max-width - $content-gap-md * 2;
$content-width-xs: $content-max-width - $content-gap-xs * 2;
